
.socialContentContainer{
    display: flex;
    height: 100dvh;
}

.socialContentContainer>*:not(.profileListContainer){
    width: var(--mainContentWidth);width: var(--mainContentWidth);
}

.profileListContainer.page{
    width: var(--mainContentWidth);
    height: 100%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 247);
}

.profileListContainer.page>*{
    /* border: 1px solid red; */
}

.profileListContainer.page>.profileSocialListContainer{
    width: 100%;
    height: 100%;
    border: 10px solid red;
    /* padding: 1.5rem 1.5rem 1.5rem 1.5rem; */
}

.profileListContainer.page>.profileSocialListContainer>.profileSocialList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid red;
    overflow-y: auto;
}

.profileListContainer.page .profileSocialList:has(.profileCardArticle){
    align-items: start;
    justify-content: start;
}

.profileListContainer.page .profileSocialList .profileCardArticle{
    width: 100%;
}

.profileListContainer.page .rewindContainer{
    width: 100%;
    padding:1rem 1.5rem 1rem 1.5rem;
}