
.socialContentContainer{
    display: flex;
    height: 100dvh;
}

.socialContentContainer>*:not(.profileListContainer){
    width: var(--mainContentWidth);width: var(--mainContentWidth);
}


.profileListContainer.page{
    width: var(--mainContentWidth);
    height: 100%;
    display: flex;
    align-items: center;
    background-color: rgb(247, 247, 247);
    
}

.profileListContainer.page>*{
    /* border: 1px solid red; */
}

.profileListContainer.page>.profileSocialListContainer{
    width: 100%;
    height: 100%;
    /* padding: 1.5rem 1.5rem 1.5rem 1.5rem; */
}

.profileListContainer.page>.profileSocialListContainer>.profileSocialList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.profileListContainer.page .profileSocialList:has(.profileCardArticle){
    align-items: start;
    justify-content: start;
}

.profileListContainer.page .profileSocialListContainer>.headerSection{
    height: 8%;
}

.profileListContainer.page .profileSocialList .profileCardArticle{
    width: 100%;
}

.profileListContainer.page .profileSocialList{
    height: 81%;
}

.profileListContainer.page .rewindContainer{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    padding: 1rem;
    /* padding:1rem 1.5rem 1rem 1.5rem; */
}

@media (max-width:1024px) {
    .profileListContainer.page .profileSocialList{
        height: 70%;
    }

    .logoMobileContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.3rem;
        background-color: rgb(247, 247, 247);
        position: relative;
        z-index: 100;
    }

    .logoMobileContainer img{
        width: 90px;
    }
}