
.postListContainer{
    gap: 2rem;
    overflow-y: auto;
    background-color: rgb(247, 247, 247);
}

.postListContainer .postListFilter{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.1rem solid rgb(165, 165, 165);
}


.postList.search{
    margin-top: 6rem;
}

.postList.search:has(.noDataContainer){
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.postListContainer .postList{
    padding: 2rem;
    /* background-color: rgb(247, 247, 247); */
    /* border: 1px solid red; */
    /* max-height: 100dvh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.postListContainer .postList:has(.postCardArticle){
    justify-content: start;
}

.postListContainer .postList>.spinnerContainer{
    display: none;
}

.postListContainer .postList .loadListContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.postListContainer .postListFilter a{
    text-decoration: none;
    color: black;
}

.postListContainer .postCardArticle .descriptionContainer{
    cursor: pointer;
    max-height: 120px;
}

.postListContainer .postCardArticle .descriptionContainer:hover{
    opacity: 85%;
}

.postListContainer .postCardArticle .mediaContainer:hover{
    cursor: pointer;
    opacity: 90%;
}

.postList .profileCardArticle .profileImageContainer img{
    width: 32px;
    height: 32px;
    padding: 0.5rem;
}

.postCardArticle{
    margin-bottom: 2rem;
    width: 100%;
    /* height: 280px; */
    /*700*/
    border: 0.1rem solid rgb(228, 228, 228);
    border-radius: 0.5rem;
    padding: 2rem;
    background-color: white;
}

.postCardArticle .likeUserListContainer a{
    text-decoration: none;
    color: black;
}

.postCardArticle .profileCardArticle{
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 1rem 0rem 1rem 0rem;
}


.postCardArticle .profileCardArticle .headerSection{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.postCardArticle .profileCardArticle .headerSection .titleContainer{
    font-size: 1.2rem;
    cursor: pointer;
}

.postCardArticle .profileCardArticle .headerSection .subtitleContainer{
    /* font-size: 0.8rem; */
    opacity: 90%;
}



.postCardArticle .profileCardArticle .profileImageContainer img{
    cursor: pointer;
    width: 32px;
    height: 32px;
    padding: 0.5rem;
}

.postCardArticle .mediaContainer{
    height: auto;
    /* border-radius: 1rem; */
}

.postCardArticle .mediaContainer>img{
    /* height: 400px; */
    width: 100%;
    border-radius:0.3rem;
}

.postCardArticle .actionsContainer{
    margin-top: 2rem;
    height: 3rem;
    display: flex;
    padding: 2rem 0rem 2rem 0rem;
    gap: 1rem;
}

.postCardArticle .actionsContainer div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
    cursor: pointer;
}

.postCardArticle .actionsContainer div:last-child>img{
    padding: 0.1rem;
}

.postCardArticle .actionsContainer div:hover{
    opacity: 60%;
}

.postCardArticle .actionsContainer div button{
    background:none;
    border:none;
    cursor: pointer;
}

.postCardArticle .actionsContainer div img{
    width: 24px;
}

/* .postCardArticle>.titleContainer{
    font-size: 0.9rem;
    margin-bottom: 0.3rem;
} */



.postCardArticle .descriptionContainer{
    margin-bottom: 2rem;
    max-height: 500px;
}



.postCardArticle .postEditFormSection{
        width: 50%;
    }

.postCardArticle .postEditFormSection form .formActionsContainer{
    display: flex;
    gap: 1rem;
}

.postCardArticle .postEditFormSection form textarea{
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 2rem;
    min-height: 500px;
    font-size: 1rem;
}

.postCardArticle .postEditFormSection form label:has(input[type=file]){
    display: none;
}

.postCardArticle .headerPostContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postCardArticle .postActionContainer{
    position: relative;
}

.postCardArticle .postActionContainer button{
    background: none;
    border: none;
    cursor: pointer;
}

.postCardArticle  .postActionContainer button img{
    width: 16px;
    height: 16px;
}

.postCardArticle .postActionContainer button:hover{
    opacity: 80%;
}

.postCardArticle  .postActionOptionsContainer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     gap: 0.5rem;
     align-items: start;
      position: absolute;
      top: 100%;
      right: 0%;
      background: white;
      border: 1px solid #ccc;
      border-radius: 0.3rem;
      box-shadow: 0 2px 6px rgba(0,0,0,0.1);
      z-index: 50;
      width: 60px;
}

.postCardArticle  .postActionOptionsContainer button{
    width: 100%;
    text-align: start;
    padding: 0.5rem;
}

.postCardArticle  .postActionOptionsContainer button:hover{
    background-color: var(--color-white-hover);
}





.profileCardArticle .headerSection .titleContainer>h1{
    font-weight: 200;
}

.commentInputCardArticle{
    display: flex;
    gap: 0.5rem;
    height: 2rem;
}

 .commentInputCardArticle .fieldContainer{
    width: 90%;
}

 .commentInputCardArticle .fieldContainer input{
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    font-size: 0.9rem;
    border: 0.1rem solid gray;
    outline: none;
}

 .commentInputCardArticle .responseActionButtonContainer{
    width: 10%;
}

 .commentInputCardArticle .responseActionButtonContainer .unfilled_button.commentary{
    height: 100%;
    padding: 0.7rem;
    font-size: 0.8rem;
}

.postInfoContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: auto;
}



.postInfoContainer .commentaryQuantityContainer{
    padding: 0rem 2rem 0rem 2rem;
}


.postInfoContainer>.commentInputCardArticle{
    padding: 0rem 2rem 0rem 2rem;
}
@media (max-width:1024px) {

.postCardArticle{
    padding: 1rem;
}

.commentInputCardArticle .responseActionButtonContainer .unfilled_button.commentary{
    height: 100%;
    font-size: 0.7rem;
    }

    .postListContainer {
        /* margin-top: 7rem;     */
    }

    .postListContainer .postList{
        padding: 0.5rem;
    }

    .postCardArticle .profileCardArticle .headerSection .titleContainer{
        font-size: 1.3rem;
    }

    .postCardArticle .postEditFormSection{
        width: 85%;
    }

}