
 .profileInfoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    height: 40%;
}

 .socialInfoContainer>*{
    margin-top: 2rem;
}

.socialInfoContainer .actionsContainer{
    display: flex;
    gap: 1rem;
}

.profileInfoContainer .countViewContainer{
    cursor: pointer;
    padding: 0.1rem;
}

.profileInfoContainer .countViewContainer:hover{
    background-color: var(--color-white-hover);
}

.profileInfoContainer .countViewContainer>*{
    margin-bottom: 0.2rem;
}

.profileInfoContainer .subtitleContainer{
    background-color: red;
}

.profileImageContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileInfoContainer .profileImageContainer>img{
    width: 150px;
    height: 150px;
    padding: 1rem;
}

.profileImageContainer>img{
    background-color: rgb(0, 0, 0);
    border-radius: 100%;    
}

.profileInfoContainer .countViewContainer .valueContainer{
    font-weight: bold;
}

 .profileInfoContainer .activityContainer{
    display: flex;
    gap: 2rem;
}

 .profileInfoContainer .socialIndentifierContainer{
    display: flex;
    gap: 1rem;
}

.profileInfoContainer .socialIndentifierContainer .namertagContainer{
    border-radius: 0.3rem;
    font-size: 0.8rem;
    padding: 0.3rem;
    text-align: center;
}

 .profileListContainer{
    /* border: 0.1rem solid gray; */
    width: 25%;
    display: flex;
    flex-direction:column;
}

 .profileListContainer .profileCardArticle{
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    cursor: pointer;
}


 .profileListContainer>.headerSection{
    font-size: 0.8rem;
    margin-top: 1rem;
    padding: 1rem;
}


.profileSocialListContainer>.headerSection{
    font-size: 0.8rem;
    /* margin-top: 1rem; */
    padding: 1rem;
}

.profileSocialListContainer>.profileSocialList{
    display: flex;
    flex-direction: column;
}

.profileSocialListContainer>.profileSocialList .redirectListContainer{
    flex: 1;
    padding: 1rem;
}

.profileSocialListContainer .redirectListContainer button{
    width: 100%;
}

 .profileListContainer .profileCardArticle .profileImageContainer>img{
    display: block;
    height: 32px;
    width: 32px;
    padding: 0.5rem;
}

.profileListContainer .profileCardArticle:active{
    background-color: var(--color-white-active);
}

.profileListContainer .profileCardArticle:hover{
    background-color: var(--color-white-hover);
}

.profileListContainer .noDataContainer{
    padding: 1rem;
}

.profileListPageSection .profileListContainer{
    width: 100%;
    height: 100dvh;
    overflow-y: auto;
    
}


/* .profileListContainer .profileCardArticle>.headerSection{
    display: flex;
    gap: 0.2rem;
} */

.intervalDateContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.profileCardArticle .subtitleContainer{
    border-radius: 0.3rem;
    
    font-size: 0.7rem;
    padding: 0.3rem;
    text-align: center;
}

.profileSocialEditSection{
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: 0.1rem solid var(--color-white-hover);
    z-index: 90;
    border-radius: 0.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    height: 450px;
    width: 320px;
    background-color: white;
}

.profileSocialEditSection .usernameContainer{
    width: 100%;    
}

.profileSocialEditSection .usernameContainer input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 0.1rem solid gray;
    border-radius: 0.3rem;
}

.profileSocialEditSection .editActionsContainer{
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 60px;
}

.profileSocialEditSection .editActionsContainer button{
    flex: 1;
}

.profileSocialEditSection .editRejectMessageContainer{
    height: 20px;
    width: 100%;
}

.profileSocialEditSection .editRejectMessageContainer p{
    height: 20px;
    color: red;
}

@media (max-width:1024px) {



    .profileInfoContainer{
        padding: 4rem 0.5rem 3rem 0.5rem;
        gap: 1rem;
        align-items: start;
        height: auto;
    }

    .profileInfoContainer>*{
    }

    .profileInfoContainer .profileImageContainer{
        height: 100%;
    }

    .profileInfoContainer .profileImageContainer img{
        width: 60px;
        height: 60px;
    }

    .profileInfoContainer img {
        width: 30px;
    }

    .profileInfoContainer .usernameContainer{
        font-size: 0.9rem;
    }

    .profileInfoContainer .socialInfoContainer>*{
        margin-top: 1rem;
    }

    .profileInfoContainer .countViewContainer{
        font-size: 0.9rem;
    }
}