
.authCheckoutPageSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.authCheckoutPageSection .checkoutContainer{
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 45%;
    height: 70%;
}

.authCheckoutPageSection .checkoutContainer .resendActionContainer button{
    border: none;
    background: none;
    font-size: 1rem;
    margin-left: 0.2rem;
    cursor: pointer;
    color: var(--color-primary);
}

.authCheckoutPageSection .checkoutContainer .resendActionContainer button:hover{
    opacity: 75%;
}

.authCheckoutPageSection .checkoutContainer .codeInsertContainer{
    height: 100px;
    width: 80%;
    display: flex;
    gap: 1rem;
}

.checkoutContainer .codeInsertContainer input{
    border-radius: 0.5rem;
    border: 0.1rem solid gray;
    height: 100%;
    width: 25%;
    font-size: 2rem;
    text-align: center;
}

.authCheckoutPageSection .checkoutContainer .headerSection{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
}

.authCheckoutPageSection .checkoutContainer .confirmActionContainer{
    width: 80%;
    height: 12%;
}

.authCheckoutPageSection .checkoutContainer .confirmActionContainer button{
    width: 100%;
    height: 100%;
    font-weight: bolder;
}


@media (max-width:1024px) {

    .authCheckoutPageSection .checkoutContainer{
    width: 95%;
    height: 60%;
    }

    .checkoutContainer .codeInsertContainer input{
        font-size: 1.7rem;
    }

}