*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: 0.2s ease-in-out;
}

body{
    overflow-x: hidden;
}

textarea{
  resize: none;
}

#root{
    display: flex;
    --contentHeight:100dvh;
    min-height: var(--contentHeight);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(166, 166, 166,0.8);
  border-radius: 1rem;
}

::-webkit-scrollbar{
  width: 0.4rem;
  background-color: white;
}