*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition: 0.2s ease-in-out;
  --color-primary:rgb(170, 3, 3);
  --color-white-hover:rgb(195, 193, 193);
  --color-white-active:rgb(53, 53, 53);
  --buttonFontSize:0.85rem;
}

body{
    overflow-x: hidden;
}

textarea{
  resize: none;
}

#root{
    display: flex;
    --contentHeight:100dvh;
    min-height: var(--contentHeight);
}

::-webkit-scrollbar-thumb{
  background-color: rgb(166, 166, 166,0.8);
  border-radius: 1rem;
}

::-webkit-scrollbar{
  width: 0.4rem;
  background-color: white;
}

.loadAuthorizationSection{
  position: fixed;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadAuthorizationSection .spinnerContainer{
    height: 30px;
    width: 30px;
}

.unfilled_button{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
  cursor: pointer;
  background-color: var(--color-primary);
  color: white;
  border: none;
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 0.3rem;
  font-size: var(--buttonFontSize);
}

.unfilled_button .spinnerContainer{
  width: 18px;
  height: 18px;
}

.filled_button{
   display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: white;
  color:var(--color-primary);
  border:0.1rem solid var(--color-primary);
  padding: 0.3rem 0.6rem 0.3rem 0.6rem;
  border-radius: 0.3rem;
  font-size: var(--buttonFontSize);
}

.filled_button .spinnerContainer{
  width: 18px;
  height: 18px;
}

.unfilled_button:hover{
  opacity: 80%;
}

.filled_button:hover{
  opacity: 80%;
}


.filled_button:active{
  background-color: rgb(93, 93, 93);
}

@media (max-width:1024px) {

  *{
    --buttonFontSize:0.8rem;
  }

}