
 .profileInfoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    width: 100%;
    height: 40%;
}

 .socialInfoContainer>*{
    margin-top: 2rem;
}


.profileInfoContainer .countViewContainer>*{
    margin-bottom: 0.2rem;
}

.profileImageContainer>img{
    background-color: rgb(0, 0, 0);
    border-radius: 100%;
}

.profileInfoContainer .countViewContainer .valueContainer{
    font-weight: bold;
}

 .profileInfoContainer .activityContainer{
    display: flex;
    gap: 2rem;
}

 .profileInfoContainer .usernameContainer{
    display: flex;
    gap: 2rem;
}


@media (max-width:1024px) {



    .profileInfoContainer{
        padding: 4rem 0.5rem 3rem 0.5rem;
        gap: 1rem;
        align-items: start;
        height: auto;
    }

    .profileInfoContainer>*{
    }

    .profileInfoContainer .profileImageContainer{
        height: 100%;
    }

    .profileInfoContainer img {
        width: 60px;
    }

    .profileInfoContainer .usernameContainer{
        font-size: 0.9rem;
    }

    .profileInfoContainer .socialInfoContainer>*{
        margin-top: 1rem;
    }

    .profileInfoContainer .countViewContainer{
        font-size: 0.9rem;
    }
}