.authFormSection{
    /* padding: 1rem; */
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100dvh; */
    width: 100dvw;
}

.authFormSection .formSection{
    background-color: white;
    /* border: 0.1rem solid gray; */
    width: 500px;
    border-radius: 0.5rem;
    /* height: 90%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
}

.authFormSection .headerSection{
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

.authFormSection .headerSection>*{
    text-align: center;

}

.authFormSection .headerSection .titleContainer{
    font-size: 1.5rem;
    margin-bottom:0.5rem;
}

.authFormSection .headerSection .subtitleContainer{
    font-size: 1.2rem;
}

.authFormSection form{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    width: 100%;
    /* height: 50%; */
}

.authFormSection form .warningContainer{
    padding: 0.5rem;
    height: 30px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    color: red;
}

.authFormSection form>.fieldFormContainer{
    margin-bottom: 0.5rem;
}

.authFormSection form>.fieldFormContainer label{
    display:flex;
    position: relative;
}

.authFormSection form>div>label>input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
}

.authFormSection form .formActionsContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.authFormSection form div>button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    border-radius: 0.5rem;
    color: white;
    background-color: var(--color-primary);
    font-weight: bolder;
    height: 3.5rem;
    width: 100%;
}

.authFormSection form .password_view_button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
    height: 100%;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: white;
    position: absolute;
    right: 0%;
    top: 0%;
    bottom: 0%;
}

.authFormSection form .password_view_button img{
    opacity: 85%;
}

.authFormSection form button:hover{
    background-color: rgb(191, 20, 20);
}

.authAskSpan{
    margin-right: 0.1rem;
}

.authReplyRedirect{
    text-decoration: none;
    color: var(--color-primary);
}

.forgotPasswordRedirect{
    text-decoration: none;
    padding: 0.5rem;
    color: var(--color-primary);
}

@media(max-width: 1024px) {



.authFormSection .formSection{
    width: 100%;
    height: auto;
}

.authFormSection .headerSection .titleContainer{
    font-size: 1.2rem;
    margin-bottom:0.5rem;
}

.authFormSection .headerSection .subtitleContainer{
    font-size: 1.1rem;
}

.authFormSection form button{
    height: 3rem;
    font-size: 0.8rem;
}

}