.authForgottenPageSection{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.authForgottenContainer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4rem;
    width: 45%;
    height: 70%;
}

.authForgottenContainer .headerSection{
    text-align: center;
}

.authForgottenContainer .headerSection>*{
    margin-bottom: 1rem;
}

.authForgottenContainer .headerSection .titleContainer{
    font-size: 1.2rem;
}

.authForgottenContainer .emailForSendContainer{
    width: 100%;
}

.authForgottenContainer .emailForSendContainer input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    border: 0.1rem solid gray;
}

.authForgottenContainer .forgottenActionsContainer{
    display: flex;
    gap: 1rem;
    justify-content: center;
    width: 100%;
    height: 50px;
}

.authForgottenContainer .forgottenActionsContainer>button{
    flex: 1;
    font-weight: bolder;
}

.messagePageSection{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    gap:5rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.messagePageSection .messageContainer{
    width: 70%;
    text-align: center;
}

.messagePageSection .actionsContainer button{
    height: 3.5rem;
    padding: 1rem 3rem 1rem 3rem; 
    font-weight: bolder;
    width: 100%;
}

.authRecoveryPageSection{
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100dvw;
    height: 100dvh;
}

.authRecoveryPageSection .authRecoveryContainer{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:4rem;
    width: 45%;
    height: 80%;
}

.deniedRecoveryContainer{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.authRecoveryPageSection .formSection{
    width: 100%;
    height: 70%;
}

.authRecoveryPageSection  .headerSection{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.authRecoveryPageSection  .headerSection .titleContainer{
    font-size: 1.2rem;
}

.authRecoveryPageSection .formSection form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    height: 100%;
}

.authRecoveryPageSection .formSection form>div{
    width: 100%;
}

.authRecoveryPageSection .formSection form input{
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
}

.authRecoveryPageSection .formSection form div:has(button){
    display: flex;
    width: 80%;
    justify-content: center;
}

.authRecoveryPageSection .formSection form div>button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border: none;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: bolder;
    height: 3rem;
    width: 100%;
}

.authRecoveryPageSection .formSection form .warningContainer{
    padding: 0.5rem;
    height: 30px;
    margin: 0.5rem 0rem 0.5rem 0rem;
    color: red;
}

@media (max-width:1024px){

.messagePageSection .messageContainer{
    width: 90%;
}

.authForgottenContainer{
    width: 80%;
    height: 65%;
}

.authRecoveryPageSection .authRecoveryContainer{
    width: 90%;
    gap:1rem;
    border: 1px solid red;
}

}